@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {

padding: 0px;
margin: 0px;

}

:root {

--font-family: Verdana, Geneva, Tahoma, sans-serif;
--font-destaque: 'Passion One', 'sans-serif';
--font-paragrafos: 'Sriracha' , 'sans-serif';




}

html,body {
min-height: 100vh;
background-color: rgb(0, 0, 0);
font-family: var(--font-family);


}

header {
background-color: black;
color: rgb(247, 247, 247);
text-align: center;

}

header > h1 {
padding-top: 50px;
font-variant: small-caps;
font-family: var(--font-destaque);
font-size: 9vw;

}

header p {
padding-bottom: 50px;
font-family: var(--font-family);


}


header a, footer a {
text-decoration: none;
color: white;
font-weight: bolder;



}

a:hover {
text-decoration: underline;


}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left:  30px ;
    font-family: var(--font-paragrafos);
    font-size: 3vw;
}

section.normal {
background-color: #ffff;
color: black;



}

section.img{
background-color: black ;
color: #ffff;
text-shadow: 1px 1px 0px black;
box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.37);
background-size: cover;
background-attachment: fixed;

}

section.img > p {
background-color: rgba(0, 0, 0, 0.301);
display: inline-block;
padding: 10px;

}

#img01 {
background-image: url(../imagens/pexels-johannes-plenio-1500524.jpg);
background-position: top right;

}

#img02 {
background-image: url(../imagens/pexels-liudmyla-honcharova-15698945.jpg);
background-position: left bottom;

}

section > p {
padding-bottom: 2em;


}

footer {
background-color: rgb(0, 0, 0);
text-align: center;
color: #ffff;
padding: 10px;

}